/* Acá van tus reglas de estilo */
*{
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: "verdana";
}

.pantalla{
  height: 100vh;
  color: #fff;
	background-image: url(prub.jpg);
	background-size: cover;
}

.titulo{
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    margin-top:0px;
}
/* contraseña*/
.contrase {
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  margin-top:360px;
}
.cuadroDeTexto {
  width:300px;
	height:40px;
	margin-top:10px;
	background-color:#ffffff;
	color: #000000;
	font-size:30px;
	text-align:right;
	padding:0;
}

.btn {
  height:50px;
	width:120px;
	background-color:#002a45;
	border-radius:35px;
	outline: none;
	display: block;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	font-size:20px;
	color: #ffffff;
}

#screen2{
	height: 100vh;
  color: #fff;
  background-image: url(fondo2.jpg);
  background-size: cover;

}
.Bienvenida{
  font-size: 50px;
	font-weight: bolder;
	text-align: center;
	margin-top:8px;
}
.mensaje{
	font-size: 20px;
	font-weight: normal;
	margin-top:8px;
	text-align: center;
	padding: 0;
}

.tex1{
  width:500px;
	height:200px;
	margin-top:9px;
	background-color:#ffffff;
	color: #000000;
	font-size:20px;
	text-align:left;
	padding:0;
}

.tex2{
	width:500px;
	height:200px;
	margin-top:9px;
	background-color:#ffffff;
	color: #000000;
	font-size:20px;
	text-align:left;
	padding:0;
}
.offset {
	width:40px;
	height:30px;
	margin-top:10px;
	background-color:#ffffff;
	color: #000000;
	font-size:20px;
	text-align:right;
	padding:0;
	}

.intentos{
	font-size: 19px;
	font-weight: bold;
	margin-top:350px;
	color: #000000;
	text-align: center;
	padding: 0;
}
#screen3{
	height: 100vh;
	background-image: url(mensaje3.jpg);
	background-size: cover;
	margin-top:0px;
}
.pie{
	font-size: 10px;
	font-weight: normal;
	margin-top:0px;
	color: #000000;
	text-align: center;
	padding: 0px;
}
/*esconder-no*/
.hide{
 display:none;

}
